---
import { getEntryBySlug } from "astro:content";
import i18next, { changeLanguage, t } from "i18next";
import Section from "../../components/shared/Section.astro";
import Layout from "../../layouts/Layout.astro";
import SectionTitle from "~/components/shared/SectionTitle.astro";

changeLanguage("it");

const content = await getEntryBySlug("location", i18next.language);
if (!content) {
    throw new Response("Not found", { status: 404 });
}
const { Content } = await content.render();
---

<Layout title="Devfest Pescara 2023 - Location">
  <Section>
    <div class="max-w-screen-lg m-auto text-center">
      <SectionTitle level="h2">
        {t("location:title")}
      </SectionTitle>
    </div>
  </Section>
  <div class="max-w-screen-xl m-auto px-6 prose py-16 lg:py-32">
    <Content />
  </div>
</Layout>
