---
import Logo from "../shared/Logo.astro";
---

<footer class="footer mx-auto container px-4 py-20">
  <div>
    <div class="flex items-center gap-2">
      <Logo />
    </div>
    <p class="text-base-content/70 mb-5">
      GDG Developer's group <br /> Pescara <br /> Italy
    </p>
    <a
      target="_blank"
      rel="noopener, noreferrer"
      href="https://github.com/saadeghi/daisyui/blob/master/.github/CONTRIBUTING.md"
      class="link link-hover group"
      >Contributing
    </a>
    <a href="/docs/changelog" class="link link-hover">Changelog</a>
    <a href="/docs/roadmap" class="link link-hover">Roadmap</a>
    <a
      target="_blank"
      rel="noopener, noreferrer"
      href="https://github.com/saadeghi/daisyui/blob/master/LICENSE"
      class="link link-hover group"
      >License
    </a>
    <a
      target="_blank"
      rel="noopener, noreferrer"
      href="https://github.com/saadeghi/daisyui/discussions/1949"
      class="link link-hover group"
      >FAQ
    </a>
    <a
      target="_blank"
      rel="noopener, noreferrer"
      href="https://daisyui.lemonsqueezy.com/affiliates"
      class="link link-hover group"
      >Affiliate Program
      <span class="badge badge-outline badge-sm">New</span></a
    >
  </div>
  <div>
    <span class="footer-title opacity-70">pages</span>
    <a href="/docs/install/" class="link link-hover">How to install</a>
    <a href="/docs/use/" class="link link-hover">How to use components</a>
    <a href="/docs/customize/" class="link link-hover">How to customize</a>
    <a href="/docs/themes/" class="link link-hover">How to use themes</a>
    <a href="/docs/colors/" class="link link-hover">Color system</a>
    <a href="/docs/config/" class="link link-hover">Config</a>
    <a href="/blog/" class="link link-hover">Blog</a>
    <a href="/resources/" class="link link-hover">Resources</a>
    <a href="/store/" class="link link-hover">Store</a>
  </div>
  <div>
    <span class="footer-title opacity-70">Available on</span>
    <a
      target="_blank"
      rel="noopener, noreferrer"
      href="https://github.com/saadeghi/daisyui"
      class="link link-hover group"
      >Github
    </a>
    <a
      target="_blank"
      rel="noopener, noreferrer"
      href="https://opencollective.com/daisyui"
      class="link link-hover group"
      >OpenCollective
    </a>
    <a
      target="_blank"
      rel="noopener, noreferrer"
      href="https://www.npmjs.com/package/daisyui"
      class="link link-hover group"
      >NPM
    </a>
    <a
      target="_blank"
      rel="noopener, noreferrer"
      href="https://unpkg.com/browse/daisyui/"
      class="link link-hover group"
      >Unpkg CDN
    </a>
    <a
      target="_blank"
      rel="noopener, noreferrer"
      href="https://www.jsdelivr.com/package/npm/daisyui"
      class="link link-hover group"
      >JSdeliver CDN
    </a>
  </div>
  <div>
    <span class="footer-title opacity-70">Try online</span>
    <a
      href="/tailwindplay"
      class="link link-hover group"
      target="_blank"
      rel="noopener, noreferrer"
      >Tailwind Play
    </a>
    <a
      target="_blank"
      rel="noopener, noreferrer"
      href="/codepen"
      class="link link-hover group"
      >Codepen
    </a>
  </div>
  <div>
    <span class="footer-title opacity-70">related projects</span>
    <a
      target="_blank"
      rel="noopener, noreferrer"
      href="https://github.com/daisyui/react-daisyui"
      class="link link-hover group"
      >React daisyUI
    </a>
    <a
      target="_blank"
      rel="noopener, noreferrer"
      href="https://github.com/daief/daisyui-vue"
      class="link link-hover group"
      >daisyUI Vue (WIP)
    </a>
    <a
      target="_blank"
      rel="noopener, noreferrer"
      href="https://github.com/robsontenorio/mary"
      class="link link-hover group"
      >Mary - Laravel components
    </a>
    <a
      target="_blank"
      rel="noopener, noreferrer"
      href="https://github.com/kidonng/unocss-preset-daisy"
      class="link link-hover group"
      >daisyUI UnoCSS preset
    </a>
    <a
      target="_blank"
      rel="noopener, noreferrer"
      href="https://github.com/saadeghi/theme-change"
      class="link link-hover group"
      >Theme Change
    </a>
  </div>
</footer>
