---
interface Props {
  level: string;
  link: string;
}
const { level, link } = Astro.props;
---

<div class="text-center px-2 mx-9">
  <a href={link} target="_blank">
    <slot />
  </a>
  <div class="sponsor-level flex lg:flex-row items-center mt-5">
    <h3
      class="text-sm text-accent-content font-bold grow-0 w-[60px] text-start"
    >
      {level}
    </h3>
    <div class="sponsor-dots grow h-px"></div>
  </div>
</div>
