---
import Section from "~/components/shared/Section.astro";
import Layout from "./Layout.astro";
import type { MarkdownLayoutProps } from "astro";

type Props = MarkdownLayoutProps<{
  title: string;
  author: string;
  date: string;
  meta: {
    title?: string;
    description?: string;
  };
}>;

const { frontmatter } = Astro.props;
---

<Layout>
  <title slot="head">{frontmatter.meta?.title || frontmatter.title}</title>
  <meta
    slot="head"
    name="description"
    content={frontmatter.meta?.description}
  />
  <Section title={frontmatter.title} />
  <div class="max-w-screen-xl m-auto px-6 prose py-16 lg:py-32">
    <slot />
  </div>
</Layout>
